html,
body {
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-variant-ligatures: none;
  font-family: sans-serif;
  text-size-adjust: 100%;
  font-style: normal;
  font-kerning: none;
  font-weight: 400;
  font-size: 16px;

  background-color: #000000;
  letter-spacing: normal;
  line-height: normal;
  overflow: hidden;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  left: 0;
  top: 0;
}

canvas {
  position: absolute;
  display: block;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  left: 0;
  top: 0;
}

div#label {
  background-color: rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
  border-bottom-left-radius: 10px;
  transition: opacity 0.5s 0.5s;

  position: absolute;
  padding: 15px 10px;
  color: #00cc00;
  font-size: 13px;

  z-index: 2;
  right: 0;
  top: 0;
}

/* div#label.hidden {
  opacity: 0;
} */

div#container {
  background-color: #000000;
  transition: opacity 0.5s;

  position: absolute;
  display: block;

  height: 100%;
  width: 100%;
  z-index: 2;

  padding: 0;
  margin: 0;

  left: 0;
  top: 0;
}

/* div#container.hidden {
  pointer-events: none;
  opacity: 0;
} */
